.btn{
	.transition(0.2s);
	.border-radius(4px);
	margin: 0;
	padding: 0 17px;
	border : 1px solid @lightblue;
	height: 36px;
	line-height: 36px;
	font-size: 12px;
	font-weight: normal;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	text-transform: uppercase;
	overflow: visible;
	color: @blue;
	outline: none;
	text-align: center;
	background: #fff;
	&:hover{
		border-color: @blue;
	}
}
