// fonts
.fp {font-family: sans-serif;} // font primary
.fh {font-family: 'Exo 2',sans-serif;} // font header
.fi {font-family: 'sk-icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@blue: #003b63;
@lightblue: #c6d4dc;
@red: #d42c24;
@cp: #32362d; // color primary
@cl: @blue; // color link

// font sizes
@fsp: 16px; // font size primary
@fsh1: 36px; // font size h1
@fsh2: 28px; // font size h2
@fsh3: 24px; // font size h3
@fsh4: 20px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 1000px;
@content-padding: 0;