body {
	//width: @content-width;
}
.opacity_hide {
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	filter:alpha(opacity=0);
}
.opacity_show {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	filter:alpha(opacity=1);
}
.header_title {
	.fh;
	position: relative;
	font-size: 19px;
	line-height: 1.2;
	margin: 0 10px 20px 0;
	padding: 0 30px 15px 0;
	color: @blue;
	text-transform: uppercase;
	border-bottom: 1px solid @lightblue;
	&:before{
		.fi;
		.border-radius(50%);
		position: absolute;
		content: '\e805';
		right: -21px;
		bottom: -1px;
		width: 47px;
		height: 47px;
		line-height: 45px;
		text-align: center;
		font-size: 27px;
		color: darken(@lightblue,40%);
		border: 1px solid @lightblue;
	}
	&:after{
		position: absolute;
		content: '';
		bottom: 0;
		right: 0;
		width: 27px;
		height: 9px;
		background: #fff;
	}
}
#page-header {
	position: relative;
	.inner {
		.clearfix;
		position: relative;
		padding: 17px 20px 0;
		background: url(../images/bg/01.png) no-repeat top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.logo {
		.fh;
		float: left;
		width: 50%;
		padding: 18px 0 0 10px;
		margin: 0 0 50px;
		font-size: 47px;
		letter-spacing: -0.005em;
		line-height: 1;
		font-weight: bold;
		text-transform: uppercase;
		mark {
			display: block;
			color: @red;
		}
		small {
			font-size: 29px;
			letter-spacing: 0.1em;
		}
		a {
			text-decoration: none;
			color: @blue;
		}
	}
	.search {
		float: right;
		width: 50%;
		padding: 0 40px 0 29.2%;
		margin: 3px 0 11px;
		input[type=text] {
			.rin;
			.box-shadow(-1px -1px 0 fade(#000,20%));
			float: left;
			height: 30px;
			width: 100%;
			font-size: 13px;
			padding: 0 12px;
			background: #fff;
			&:focus{
				background: fade(#fff,80%);
			}
		}
		button {
			.rin;
			.transition(0.2s);
			position: relative;
			float: left;
			margin: 0 -30px 0 0;
			width: 30px;
			height: 30px;
			line-height: 30px;
			overflow: hidden;
			color: @blue;
			white-space: nowrap;
			&:hover{
		 		color: @red;
		 	}
		 	&:before{
		 		.fi;
		 		float: left;
		 		width: 30px;
		 		content: '\e800';
		 		font-size: 23px;
		 		text-align: right;
		 	}
		}
	}
	.login {
		float: right;
		width: 50%;
		text-align: right;
		padding: 0 12px 0 0;
		a {
			.fh;
			font-size: 14px;
			&:hover{
				&:before{
					color: @red;
				}
			}
			&:before{
				.fi;
				.transition(0.2s);
				float: right;
				content: '\e801';
				font-size: 19px;
				margin: -1px 0 0 11px;
			}
		}
	}
	.menu_main {
		clear: both;
		ul {
			.rul;
			.clearfix;
			li {
				.rli;
				float: left;
				width: 33.3333%;
				padding: 0 10px 10px;
				a {
					.fh;
					.border-radius(4px);
					.transition(0.2s);
					position: relative;
					margin: -5px 0 0;
					display: block;
					padding: 6px 0 8px;
					color: #fff;
					background: @blue;
					text-decoration: none;
					font-size: 22px;
					line-height: 41px;
					white-space: nowrap;
					text-transform: uppercase;
					text-align: center;
					&:hover{
						background: darken(@blue,10%);
					}
				}
				&.on {
					a {
						.border-radius(4px 4px 0 0);
						color: @blue;
						padding-bottom: 18px;
						margin-bottom: -10px;
						background: #fff;
					}
				}
			}
		}
	}
}

#container {
	background: #fff;
}
#wrapper {
	.clearfix;
	padding: 48px 40px 48px 30px;
}
#col-main {
	float: right;
	width: 700px;
}
#col-center {
	width: 460px;
	float: left;
}
#col-right {
	width: 210px;
	float: right;
}
#col-left {
	width: 200px;
	float: left;
}
.promo_slider {
	position: relative;
	height: 362px;
	overflow: hidden;
	figure {
		.border-radius(50%);
		.box-shadow(3px 3px 24px fade(#000,20%));
		position: absolute;
		z-index: 1;
		left: 23px;
		top: 27px;
		width: 240px;
		height: 240px;
		border: 5px solid #fff;
		overflow: hidden;
		background: #fff;
		ul {
			.rul;
			li {
				.rli;
				.transition(0.5s);
				.opacity_hide;
				position: absolute;
				top: 0;
				left: 0;
				&:nth-child(1) {
					.opacity_show;
				}
			}
		}
	}
	.title {
		position: relative;
		text-align: center;
		margin: 0 0 0 220px;
		overflow: hidden;
		height: 50px;
		span {
			.fh;
			.transition(0.5s);
			position: absolute;
			top: 3px;
			left: 100%;
			color: #b0b0b0;
			font-size: 24px;
			line-height: 1;
			width: 100%;
			mark {
				margin: 0 10px 0 0;
				color: @red;
				text-transform: uppercase;
			}
			&:nth-child(1){
				left: 0;
			}
		}
	}
	.content {
		position: absolute;
		left: 200px;
		top: 50px;
		right: 10px;
		height: 200px;
		border-top: 1px dashed @lightblue;
		border-bottom: 1px dashed @lightblue;
		overflow: hidden;
		.sex {
			.rul;
			.clearfix;
			.transition(0.5s);
			position: absolute;
			top: 0;
			width: 100%;
			padding: 27px 0 0 67px;
			li {
				.rli;
				float: left;
				margin: 0 0 0 68px;
				a {
					.fh;
					.border-radius(50%);
					.transition(0.2s);
					position: relative;
					display: block;
					width: 138px;
					height: 138px;
					line-height: 138px;
					text-align: center;
					color: #fff;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 28px;
					background: #436f8c;
					&:hover{
						background: darken(@blue,5%);
					}
					&:before{
						.fi;
						.border-radius(50%);
						position: absolute;
						content: '';
						top: -3px;
						left: -30px;
						width: 64px;
						height: 64px;
						line-height: 64px;
						color: #fff;
						background: darken(@blue,5%);
					}
				}
				&.female {
					a {
						background: #eb3f2d;
						&:hover{
							background: darken(@red,5%);
						}
						&:before{
							content: '\e807';
							background: darken(@red,5%);
						}
					}
				}
				&.male {
					a {
						&:before{
							content: '\e806';
							background: darken(@blue,5%);
						}
					}
				}
			}
		}
		.female-age, .male-age {
			.transition(0.5s);
			.rul;
			position: absolute;
			left: -100%;
			top: 0;
			width: 100%;
			padding: 40px 0 0 95px;
			li {
				.rli;
				float: left;
				margin: 0 0 0 16px;
				a {
					.fh;
					.border-radius(50%);
					.transition(0.2s);
					position: relative;
					display: block;
					width: 110px;
					height: 110px;
					padding: 24px 0 0;
					text-align: center;
					color: #fff;
					font-size: 26px;
					line-height: 1;
					background: #436f8c;
					mark {

						color: #fff;
						font-weight: bold;
					}
					&:hover{
						background: darken(@blue,5%);
					}
				}
			}
		}
		.female-age {
			li {
				a {
					background: #eb3f2d;
					&:hover{
						background: darken(@red,5%);
					}
				}
			}
		}
		.female-condition_01,.female-condition_02,.female-condition_03,.male-condition_01,.male-condition_02,.male-condition_03 {
			.transition(0.5s);
			.rul;
			position: absolute;
			top: 0;
			left: 100%;
			width: 100%;
			text-align: center;
			padding: 66px 0 0 110px;
			li {
				.rli;
				display: inline-block;
				margin: 0 4px;
				a {
					.fh;
					.transition(0.2s);
					position: relative;
					display: inline-block;
					height: 58px;
					line-height: 58px;
					font-size: 21px;
					padding: 0 20px;
					min-width: 150px;
					color: #fff;
					text-transform: uppercase;
					text-decoration: none;
					background: @red;
					&:hover{
						background: darken(@red,5%);
						&:before{
							border-left-color: darken(@red,5%);
						}
					}
					&:before{
						.transition(0.2s);
						position: absolute;
						content: '';
						top: 50%;
						left: 100%;
						border: 29px solid transparent;
						border-left-color: @red;
						border-left-width: 10px;
						border-right-width: 10px;
						margin: -29px 0 0;
					}
				}
				&:first-child {
					a {
						&:hover{
							&:before{
								border-left-color: transparent;
								border-right-color: darken(@red,5%);
							}
						}
						&:before{
							left: auto;
							right: 100%;
							border-left-color: transparent;
							border-right-color: @red;
						}
					}
				}
			}
		}
		.male-condition_01,.male-condition_02,.male-condition_03 {
			li {
				a {
					background: @blue;
					&:hover{
						background: darken(@blue,5%);
						&:before{
							border-left-color: darken(@blue,5%);
						}
					}
					&:before{
						border-left-color: @blue;
					}
				}
				&:first-child {
					a {
						&:hover{
							&:before{
								border-right-color: darken(@blue,5%);
							}
						}
						&:before{
							border-right-color: @blue;
						}
					}
				}
			}
		}
	}
	&.female_age {
		figure {
			ul {
				li {
					.opacity_hide;
					&:nth-child(2) {
						.opacity_show;
					}
				}
			}
		}
		.title {
			span {
				left: 100%;
				&:nth-child(1){
					top: -100%;
					left: 0;
				}
				&:nth-child(2){
					left: 0;
				}
			}
		}
		.sex {
			position: absolute;
			top: -100%;
		}
		.female-age {
			left: 0;
		}
	}
	&.male_age {
		figure {
			ul {
				li {
					.opacity_hide;
					&:nth-child(3) {
						.opacity_show;
					}
				}
			}
		}
		.title {
			span {
				left: 100%;
				&:nth-child(1){
					top: -100%;
					left: 0;
				}
				&:nth-child(3){
					left: 0;
				}
			}
			mark {
				color: @blue;
			}
		}
		.sex {
			position: absolute;
			top: -100%;
		}
		.male-age {
			left: 0;
		}
	}
	&.female_age_01 {
		figure {
			ul {
				li {
					.opacity_hide;
					&:nth-child(4) {
						.opacity_show;
					}
				}
			}
		}
		.title {
			span {
				left: 100%;
				&:nth-child(2){
					top: -100%;
					left: 0;
				}
				&:nth-child(4){
					left: 0;
				}
			}
		}
		.female-age {
			top: -100%;
		}
		.female-condition_01 {
			left: 0;
		}
	}
	&.female_age_02 {
		figure {
			ul {
				li {
					.opacity_hide;
					&:nth-child(4) {
						.opacity_show;
					}
				}
			}
		}
		.title {
			span {
				left: 100%;
				&:nth-child(2){
					top: -100%;
					left: 0;
				}
				&:nth-child(5){
					left: 0;
				}
			}
		}
		.female-age {
			top: -100%;
		}
		.female-condition_02 {
			left: 0;
		}
	}
	&.female_age_03 {
		figure {
			ul {
				li {
					.opacity_hide;
					&:nth-child(4) {
						.opacity_show;
					}
				}
			}
		}
		.title {
			span {
				left: 100%;
				&:nth-child(2){
					top: -100%;
					left: 0;
				}
				&:nth-child(6){
					left: 0;
				}
			}
		}
		.female-age {
			top: -100%;
		}
		.female-condition_03 {
			left: 0;
		}
	}
	&.male_age_01 {
		figure {
			ul {
				li {
					.opacity_hide;
					&:nth-child(5) {
						.opacity_show;
					}
				}
			}
		}
		.title {
			span {
				left: 100%;
				&:nth-child(3){
					top: -100%;
					left: 0;
				}
				&:nth-child(7){
					left: 0;
				}
			}
			mark {
				color: @blue;
			}
		}
		.male-age {
			top: -100%;
		}
		.male-condition_01 {
			left: 0;
		}
	}
	&.male_age_02 {
		figure {
			ul {
				li {
					.opacity_hide;
					&:nth-child(5) {
						.opacity_show;
					}
				}
			}
		}
		.title {
			span {
				left: 100%;
				&:nth-child(3){
					top: -100%;
					left: 0;
				}
				&:nth-child(8){
					left: 0;
				}
			}
			mark {
				color: @blue;
			}
		}
		.male-age {
			top: -100%;
		}
		.male-condition_02 {
			left: 0;
		}
	}
	&.male_age_03 {
		figure {
			ul {
				li {
					.opacity_hide;
					&:nth-child(5) {
						.opacity_show;
					}
				}
			}
		}
		.title {
			span {
				left: 100%;
				&:nth-child(3){
					top: -100%;
					left: 0;
				}
				&:nth-child(9){
					left: 0;
				}
			}
			mark {
				color: @blue;
			}
		}
		.male-age {
			top: -100%;
		}
		.male-condition_03 {
			left: 0;
		}
	}
}
.news {
	.title {
		.header_title;
		font-size: 30px;
		margin-top: -17px;
		margin-right: 22px;
		margin-bottom: 33px;
		&:before{
			content: '\e808';
		}
	}
	.item {
		.clearfix;
		margin: 0 0 30px;
		border-bottom: 1px solid #dcdbda;
		figure {
			float: left;
			width: 32%;
			margin: 4px 0;
		}
		.content {
			float: right;
			width: 65%;
			font-size: 14px;
			line-height: 1.2;
			a {
				color: @red;
			}
			h2 {
				font-size: 18px;
				line-height: 1.25;
				.clearfix;
				a {
					position: relative;
					text-decoration: none;
					border-bottom: 1px solid @red;
					&:hover{
						border-bottom-color: transparent;
					}
				}
			}
			nav {
				float: right;
				font-size: 13px;
				text-align: right;
				margin: 6px 0 -1px;
				padding: 0 0 0 30px;
				background: #fff;
				a {
					.btn;
				}
			}
		}
		&.main {
			.border-radius(6px);
			margin: 0 0 36px;
			figure {
				float: none;
				width: auto;
				margin: 0 0 17px;
			}
			.content {
				float: none;
				width: auto;
				font-size: 16px;
				line-height: 1.38;
				h1,h2 {
					font-size: 24px;
					text-transform: uppercase;
					margin: 0 0 16px;
				}
				nav {
					margin-top: -26px;
					margin-bottom: 31px;
				}
			}
		}
	}
}
.box_reference {
	margin: 0 0 35px;
	.title {

	}
	.items {
		position: relative;
		.item {
			width: 100%;
			.caption {
				line-height: 1.2;
				padding: 12px 20px 11px;
				background: #edeff2;
			}
			img {
				display: block;
				width: 100%!important;
				height: auto!important;
			}
		}
		.prev, .next{
			.transition(0.2s);
			position: absolute;
			bottom: 59px;
			width: 19px;
			height: 36px;
			line-height: 36px;
			background: @blue;
			color: #fff;
			text-align: center;
			font-size: 13px;
			&:hover{
				background: @blue;
			}
		}
		.prev {
			.border-radius(18px 0 0 18px);
			right: 100%;
			&:before{
				.fi;
				content: '\e804';
			}
		}
		.next {
			.border-radius(0 18px 18px 0);
			left: 100%;
			&:before{
				.fi;
				content: '\e805';
			}
		}
	}
}
.box_advice {
	margin: -3px 0 78px;
	.title {
		.header_title;
		margin-bottom: 37px;
		&:before{
			content: '\e809';
		}
	}
	.q,.a{
		.border-radius(0 18px 0 0);
		position: relative;
		color: darken(@lightblue,40%);
		padding: 0 10px 30px 0;
		margin: 0 0 -14px;
		font-size: 13px;
		line-height: 1.24;
		border-top: 1px solid @lightblue;
		border-right: 1px solid @lightblue;
		.author {
			.fh;
			position: relative;
			top: -10px;
			font-size: 16px;
			padding: 0 13px 0 0;
			display: inline-block;
			color: @red;
			background: #fff;
		}
		.date {
			margin: -9px 0 10px;
			font-size: 12px;
		}
	}
	.more {
		margin: -23px 0 0;
		a {
			.fh;
			.border-radius(5px 26px 5px 5px);
			display: block;
			position: relative;
			height: 46px;
			line-height: 46px;
			padding: 0 0 0 15px;
			color: #fff;
			letter-spacing: -0.04em;
			text-decoration: none;
			text-transform: uppercase;
			background: @red;
			&:before{
				.fi;
				float: left;
				font-size: 24px;
				letter-spacing: 0;
				margin: 2px 13px 0 0;
				content: '\e80a';
			}
			&:after{
				position: absolute;
				content: '';
				right: 1px;
				top: 0;
				border-bottom: 17px solid transparent;
				border-right: 17px solid #fff;
			}
		}
	}
}
.box_most-read {
	margin: -3px 0 48px;
	.title {
		.header_title;
		margin-bottom: 22px;
		&:before{
			content: '\e80b';
		}
	}
	ul {
		.rul;
		li {
			.rli;
			.clearfix;
			font-size: 14px;
			line-height: 1.28;
			min-height: 64px;
			margin: 0 0 20px 70px;
			border-bottom: 1px solid @lightblue;
			img {
				position: absolute;
				left: -70px;
				top: 3px;
				max-width: 60px;
			}
		}
	}
}
.menu_side {
	&>ul {
		.rul;
		margin: 3px 0 35px;
		border-bottom: 1px solid @lightblue;
		&>li {
			.rli;
			border-top: 1px solid @lightblue;
			&>a {
				display: block;
				padding: 9px 8px 8px;
				font-size: 14px;
				line-height: 1.2;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			&.on {
				&>a {
					.border-radius(4px);
					.transition(0.2s);
					color: @red;
					font-size: 15px;
					font-weight: bold;
					padding-bottom: 6px;

					background: #ffffff;
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZjdlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
					background: -moz-linear-gradient(left,  #ffffff 0%, #fff7ec 50%, #ffffff 100%);
					background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#fff7ec), color-stop(100%,#ffffff));
					background: -webkit-linear-gradient(left,  #ffffff 0%,#fff7ec 50%,#ffffff 100%);
					background: -o-linear-gradient(left,  #ffffff 0%,#fff7ec 50%,#ffffff 100%);
					background: -ms-linear-gradient(left,  #ffffff 0%,#fff7ec 50%,#ffffff 100%);
					background: linear-gradient(to right,  #ffffff 0%,#fff7ec 50%,#ffffff 100%);
				}
			}
			&>ul {
				.rul;
				position: relative;
				padding: 17px 0 10px 10px;
				border-top: 1px solid @lightblue;
				&>li {
					.rli;
					font-size: 14px;
					line-height: 1.2;
					margin: 0 0 10px;
					padding: 0 0 0 10px;
					&>a {
						display: inline-block;
						text-decoration: none;
						&:before{
							.fi;
							position: absolute;
							content: '\e803';
							top: 1px;
							left: 0;
							font-size: 11px;
						}
						&:hover{
							text-decoration: underline;
						}
					}
					&.on {
						&>a {
							color: @red;
							&:before{
								font-weight: normal;
							}
						}
					}
					ul {
						.rul;
						padding: 10px 0 0 10px;
						li {
							.rli;
							a {
								display: inline-block;
								font-size: 13px;
								line-height: 1.2;
								padding: 0 0 0 10px;
								margin: 0 0 7px;
								text-decoration: none;
								&:hover{
									text-decoration: underline;
								}
								&:before{
									.fi;
									position: absolute;
									content: '\2022';
									top: 0;
									left: 0;
									color: @blue;
									font-size: 15px;
									line-height: 1;
								}
							}
						}
					}
				}
			}
		}
	}
}
#col-bottom {
	.clearfix;
	position: relative;
	margin: 23px 0 3px;
	padding: 20px 0 28px;
	min-width: @content-width;
	position: relative;
	background: #dae1ed;
}
.box_competition {
	.clearfix;
	float: left;
	width: 71%;
	line-height: 1.5;
	position: relative;
	padding: 33px 50px 20px 40px;
	figure {
		float: left;
		width: 45.2%;
		padding: 4px 0;
	}
	.content {
		float: right;
		width: 50%;
		padding: 0 40px 0 0;
		font-size: 15px;
		h2 {
			.header_title;
			font-size: 24px;
			margin-right: -33px;
			margin-bottom: 23px;
			color: @red;
			border-bottom-color: #acbfd0;
			&:before{
				border-color: #acbfd0;
				color: @red;
				content: '\e80c';
			}
			&:after{
				background: #dae1ed;
			}
		}
		.more {
			margin: 26px 0 0;
			a {
				.btn;
				.fh;
				float: left;
				font-size: 15px;
				padding: 0 20px;
				margin: 0 5px 0 0;
				height: 40px;
				line-height: 40px;
				position: relative;
				border-color: darken(@lightblue,20%);
				&.facebook {
					width: 42px;
					padding: 0;
					overflow: hidden;
					background: none;
					&:before{
						.fi;
						.border-radius(4px);
						display: inline-block;
						content: '\e80d';
						width: 50px;
						font-size: 24px;
						color: @cp;
					}
				}
			}
		}
	}
}
.box_video {
	.clearfix;
	float: right;
	width: 29%;
	padding: 32px 40px 20px 30px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 60%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.3)), color-stop(60%,rgba(0,0,0,0)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 60%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 60%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 60%);
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 60%);
	background-repeat: no-repeat;
	background-position: -48px 0;
	background-size: 60px 100%;
	.title {
		.header_title;
		font-size: 24px;
		margin-bottom: 31px;
		margin-right: 20px;
		color: @red;
		border-bottom-color: #acbfd0;
		&:before{
			border-color: #acbfd0;
			color: @red;
			content: '\e80e';
		}
		&:after{
			background: #dae1ed;
		}
	}
	.item {
		.image {
			margin: 0 0 18px;
			a {
				display: block;
				position: relative;
				&:before{
					.fi;
					.border-radius(50%);
					.transition(0.2s);
					position: absolute;
					content: '\e819';
					top: 50%;
					left: 50%;
					width: 80px;
					height: 80px;
					line-height: 80px;
					margin: -40px 0 0 -40px;
					text-align: center;
					color: fade(#fff,100%);
					font-size: 80px;
				}
				&:hover{
					&:before{
						color: fade(#fff,80%);
					}
				}
			}
			img {
				display: block;
				width: 100%!important;
				height: auto!important;
			}
		}
		.caption {
			float: left;
			color: @blue;
			font-size: 15px;
			margin: 0 0 10px;
		}
	}
	.more {
		.clearfix;
		float: right;
		text-transform: uppercase;
		a {
			color: @red;
			text-decoration: none;
			font-size: 12px;
			&:hover{
				text-decoration: underline;
			}
			&:before{
				.fi;
				float: right;
				content: '\e80f';
				font-size: 20px;
				line-height: 1;
				margin: 0 0 0 7px;
			}
		}
	}
}
#menu-bottom {
	padding: 55px 0 36px;
	background: #eb3f2d;
}
.menu_bottom {
	padding: 0 40px;
	.row {
		margin: 0 -20px;
	}
	[class^=col-] {
		padding: 0 20px;
		&>ul {
			.rul;
			&>li {
				.rli;
				&>a {
					.fh;
					display: block;
					color: #ffde5c;
					text-decoration: none;
					font-size: 17px;
					line-height: 1.2;
					margin: 0 0 20px;
					padding: 0 0 20px;
					border-bottom: 1px solid #fff;
					&:hover{
						text-decoration: underline;
					}
				}
				ul {
					.rul;
					margin: 0 0 30px;
					li {
						.rli;
						font-size: 14px;
						line-height: 1.2;
						padding: 0 0 0 14px;
						margin: 0 0 12px;
						&:before{
							top: 5px;
							border: 3px solid transparent;
							border-left-color: #fff;
							border-left-width: 5px;
						}
						a {
							color: #fff;
							text-decoration: none;
							&:hover{
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}
.menu_footer {
	margin-top: 7px;
	border-top: 1px solid #fff;
	ul {
		.rul;
		.clearfix;
		padding: 24px 0;
		li {
			.rli;
			.fh;
			float: left;
			font-size: 17px;
			margin: 0 41px 10px 0;
			a {
				color: #ffde5c;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
#page-footer {
	font-size: 14px;
	.container {
		padding: 33px 40px;
	}
	a {
		color: @cp;
	}
	.copy {
		float: left;
	}
	.menu_foo {
		.clearfix;
		.rul;
		float: right;
		li {
			.rli;
			float: left;
			text-transform: uppercase;
			a {
				color: @blue;
			}
			&:before{
				position: static;
				content: '|';
				margin: 0 8px;
			}
			&:first-child {
				&:before{
					display: none;
				}
			}
		}
	}
}
.breadcrumbs {
	margin: 2px 0 30px;
	padding: 0 0 10px;
	border-bottom: 1px solid @lightblue;
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			padding: 0 0 0 20px;
			font-size: 12px;
			line-height: 1;
			white-space: nowrap;
			color: @red;
			font-weight: bold;
			&:before{
				content: '\e803';
				left: 5px;
				top: 1px;
				font-size: 12px;
				font-weight: normal;
				color: @cp;
			}
			a {
				color: @cp;
				font-weight: normal;
			}
			&.home {
				padding-left: 22px;
				&:before{
					content: '\e810';
					font-size: 15px;
					left: 2px;
					top: -2px;
				}
			}
		}
	}
}
.box_share {
	margin: 0 0 20px;
	[class^=icon-] {
		font-size: 27px;
		margin: 0 3px 0 0;
		&:before{
			padding: 0;
			margin: 0;
		}
	}
	a {
		.transition(0.2s);
		color: @blue;
		text-decoration: none;
		&:hover{
			color: @red;
		}
	}
}
.box_rate {
	.clearfix;
	position: relative;
	margin: 20px 0 30px;
	padding: 16px 0;
	border-top: 1px solid @lightblue;
	border-bottom: 1px solid @lightblue;
	.title {
		.fh;
		position: relative;
		float: left;
		width: 48%;
		padding: 0 10px 0 60px;
		font-size: 16px;
		line-height: 1.2;
		color: @lightblue;
		&:before{
			.fi;
			.border-radius(50%);
			position: absolute;
			content: '\e818';
			left: 10px;
			top: -1px;
			font-size: 30px;
			color: @red;
		}
		small {
			.fp;
			color: @cp;
		}
	}
	.stars {
		width: 27%;
		float: left;
		padding: 18px 0 0;
		white-space: nowrap;
		[class^=icon-] {
			margin: 0 -3px 0 0;
			&:before{
				margin: 0;
				padding: 0;
				color: #f9c700;
				font-size: 17px;
			}
		}
		.icon-star-empty {
			&:before{
				color: lighten(@cp,60%);
			}
		}
	}
	.count {
		float: left;
		width: 25%;
		font-size:  12px;
		padding: 22px 0 0;
		mark {
			font-weight: bold;
			color: @blue;
		}
	}
}
.next_item {
	text-align: right;
	margin: 20px 0 40px;
	a {
		.btn;
	}
}
.mod_age {
	position: relative;
	margin: 0 0 60px;
	overflow: hidden;
	&:before{
		position: absolute;
		z-index: 1;
		content: '';
		bottom: -90px;
		left: -25%;
		height: 120px;
		width: 150%;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
		background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 60%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.3)), color-stop(60%,rgba(0,0,0,0)));
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 60%);
		background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 60%);
		background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 60%);
		background: radial-gradient(ellipse at center,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 60%);
	}
	.inner {
		.clearfix;
	}
	.col {
		width: 33.3333%;
		float: left;
		text-align: center;
		border-left: 1px dashed @lightblue;
		&:first-of-type {
			border-left: none;
		}
	}
	h1 {
		.border-radius(50%);
		.fh;
		position: relative;
		left: 10px;
		width: 110px;
		height: 110px;
		padding: 29px 0 0;
		margin: 0 auto 17px;
		color: #fff;
		text-transform: none;
		font-size: 20px;
		line-height: 1;
		font-weight: normal;
		background: #eb3f2d;
		&:before{
			.fi;
			.border-radius(50%);
			position: absolute;
			content: '';
			top:  0;
			left: -25px;
			width: 50px;
			height: 50px;
			line-height: 50px;
			font-size: 27px;
			color: #fff;
			background: darken(@red,5%);
		}
		mark {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 22px;
			color: #fff;
		}
	}
	&.female {
		h1 {
			&:before{
				content: '\e807';
			}
		}
	}
	&.male {
		h1 {
			background: #436f8c;
			&:before{
				background: darken(#436f8c,5%);
				content: '\e806';
			}
		}
	}
	.content {
		.fh;
		position: relative;
		z-index: 1;
		padding: 0 10px;
		font-size: 19px;
		line-height: 1.2;
		height: 162px;
		&:before{
			.fi;
			.border-radius(50%);
			display: inline-block;
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			font-size: 26px;
			color: #fff;
		}
		&.warning {
			&:before{
				content: '\e817';
				background: #eb3f2d;
			}
		}
		&.success {
			&:before{
				content: '\e816';
				background: #98c043;
			}
		}
		p {
			margin: 12px 0 10px;
		}
	}
	.image {
		position: relative;
		img {
			display: block;
			margin: auto;
		}
		ul {
			.rul;
			position: absolute;
			left: 0;
			top: 0;
			li {
				.rli;
				position: absolute;
				left: 0;
				top: 0;
				&:before{
					.border-radius(50%);
					content: '-';
					width: 21px;
					height: 21px;
					line-height: 14px;
					color: #fff;
					font-size: 36px;
					background: #ff0c00;
				}
				&:hover{
					span {
						display: block;
					}
				}
				&.right {
					span {
						right: auto;
						left: 100%;
						margin-right: 0;
						margin-left: 37px;
						&:before{
							left: auto;
							right: 100%;
							border-left: 0;
							border-right: 16px solid fade(#ff0c00,70%);
						}
					}
				}
				span {
					.fh;
					.border-radius(5px);
					display: none;
					position: absolute;
					right: 100%;
					top: -7px;
					padding: 10px 15px;
					margin-right: 16px;
					white-space: nowrap;
					font-size: 15px;
					color: #fff;
					text-transform: uppercase;
					background: fade(#ff0c00,70%);
					&:before{
						position: absolute;
						content: '';
						top: 50%;
						left: 100%;
						margin-top: -4px;
						border-top: 4px solid transparent;
						border-bottom: 4px solid transparent;
						border-left: 16px solid fade(#ff0c00,70%);
					}
				}
			}
		}
	}
}