@font-face {
  font-family: 'sk-icons';
  src: url('../font/sk-icons.eot?78393519');
  src: url('../font/sk-icons.eot?78393519#iefix') format('embedded-opentype'),
       url('../font/sk-icons.woff?78393519') format('woff'),
       url('../font/sk-icons.ttf?78393519') format('truetype'),
       url('../font/sk-icons.svg?78393519#sk-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'sk-icons';
    src: url('../font/sk-icons.svg?78393519#sk-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "sk-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-up-open:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-male:before { content: '\e806'; } /* '' */
.icon-female:before { content: '\e807'; } /* '' */
.icon-doc-inv:before { content: '\e808'; } /* '' */
.icon-chat-inv:before { content: '\e809'; } /* '' */
.icon-comment-inv:before { content: '\e80a'; } /* '' */
.icon-pencil-neg:before { content: '\e80b'; } /* '' */
.icon-heart:before { content: '\e80c'; } /* '' */
.icon-facebook:before { content: '\e80d'; } /* '' */
.icon-video:before { content: '\e80e'; } /* '' */
.icon-layers:before { content: '\e80f'; } /* '' */
.icon-home:before { content: '\e810'; } /* '' */
.icon-facebook-rect:before { content: '\e811'; } /* '' */
.icon-googleplus-rect:before { content: '\e812'; } /* '' */
.icon-print:before { content: '\e813'; } /* '' */
.icon-star:before { content: '\e814'; } /* '' */
.icon-star-empty:before { content: '\e815'; } /* '' */
.icon-thumbs-up:before { content: '\e816'; } /* '' */
.icon-thumbs-down:before { content: '\e817'; } /* '' */
.icon-thumbs-up-1:before { content: '\e818'; } /* '' */
.icon-play-circle2:before { content: '\e819'; } /* '' */