
.icon-search:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-up-open:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-male:before { content: '\e806'; } /* '' */
.icon-female:before { content: '\e807'; } /* '' */
.icon-doc-inv:before { content: '\e808'; } /* '' */
.icon-chat-inv:before { content: '\e809'; } /* '' */
.icon-comment-inv:before { content: '\e80a'; } /* '' */
.icon-pencil-neg:before { content: '\e80b'; } /* '' */
.icon-heart:before { content: '\e80c'; } /* '' */
.icon-facebook:before { content: '\e80d'; } /* '' */
.icon-video:before { content: '\e80e'; } /* '' */
.icon-layers:before { content: '\e80f'; } /* '' */
.icon-home:before { content: '\e810'; } /* '' */
.icon-facebook-rect:before { content: '\e811'; } /* '' */
.icon-googleplus-rect:before { content: '\e812'; } /* '' */
.icon-print:before { content: '\e813'; } /* '' */
.icon-star:before { content: '\e814'; } /* '' */
.icon-star-empty:before { content: '\e815'; } /* '' */
.icon-thumbs-up:before { content: '\e816'; } /* '' */
.icon-thumbs-down:before { content: '\e817'; } /* '' */
.icon-thumbs-up-1:before { content: '\e818'; } /* '' */
.icon-play-circle2:before { content: '\e819'; } /* '' */